body{
    background-color:#a5c4b2;

}
h1{
    color:#a35cd3;
}
h2{
    color: #a35cd3;
}
.boton{
    border-radius: 30px;
    background-color:#91ffa0;
    color: #523036;
}
label{
    background-color: #c25266;
}